/* --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f4f4f4;
  --text-color: #333333; */


.gray-bg {
  background-color: #E5E7EB;
}
.primary-color{
  color:#3498db ;
}
.primary-bg{
  background-color:#3498db ;
}

.secondary-color{
  color:#2ecc71 ;
}

.secondary-bg{
  background-color:#2ecc71 ;
}

.bg-image{
  background-position: center;
  background-size: cover;
}

input , button{
  outline: none;
  border: none;
}


/* default page  */

.default-page{
  background-image: url("../src/ressources/bg-default-page.png");
  height: calc(100% - 73px);
}

.search-input{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

